<%@page contentType="text/html" pageEncoding="UTF-8"%>
<!DOCTYPE html>
<%
    String[] stats_name = {"H", "A", "B", "C", "D", "S"};
%>

<html lang="ja">
    <head>
        <meta http-equiv="Expires" content="90">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="icon" type="image/png" href="https://www.pokemon.co.jp/common/images/favi_official.ico">
        <meta name="keyword" content="努力値,個体値,ポケモン,ステータス,計算,calc,pokemon,stats,のーまです,nomakun_des">
        <title>POKES STATS CALC</title>
        <script type="text/javascript" src="calc.js"></script>
        <script type="text/javascript" src="data.js"></script>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="loading.css">

        <link href="select2.min.css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="select2.min.js"></script>
    </head>
    <body>
        <h1>POKES STATS CALC</h1>
        <DIV id="main">
            <div>
                <DIV class="flex">
                    <div>
                        <select id="pokename" class="select_search" onchange="setPokes()">
                            <option value="" disabled selected style="display:none;">ポケモン名</option>
                            <% for (int i = 0; i < 418; i++) {%>
                            <option id="pokename_<%=i%>" value="<%=i%>">pokemon[<%=i%>][0]</option>
                            <% }%>
                        </select>
                        <table>
                            <tr>
                                <td>Lv.</td>
                                <td><input class="no-spin" type="number" value="50" min="1" max="100" 
                                           id="lv" onChange="reCalc()"></td>
                                <TD><div class="arrow">
                                        <div><a onclick="click_arrow('lv', 0, 1)">▲</a></div>
                                        <div><a onclick="click_arrow('lv', 0, -1)">▼</a></div>
                                    </div></TD>

                                <td><button id="lv50" onClick="setLv(50)">50</button>
                                    <button id="lv100" onClick="setLv(100)">100</button></td>
                            </tr>
                        </table>
                    </div>
                    <div class="img">
                        <img id="poke1_icon" src="img/pokes-icon/poke_589.png" height="36px"
                             onclick="nextIMG()"/>
                    </div>
                    <div class="flex-col, type">
                        <div>
                            <img id="poke1_type1" src="img/type-icon/null.png" height="18px" />
                        </div>
                        <div>
                            <img id="poke1_type2" src="img/type-icon/null.png" height="18px" />
                        </div>
                    </div>
                </DIV>

                <TABLE>
                    <TR>
                        <TH></TH><TH colspan="2"><div>実数値</div></TH>
                        <TH colspan="2"><div>努力値</div></TH><TH></TH>
                        <TH><div>種族値</div></TH>
                        <TH colspan="2"><div>個体値</div></TH><TH></TH>
                        <TH colspan="2"><div>性格</div></TH>
                    </TR>
                    <% for (int i = 0; i < 6; i++) {%>
                    <TR>
                        <TD><%=stats_name[i]%></TD>
                        <TD><input class="no-spin" type="number" value="<% if (i == 0) {%>175<% } else {%>120<% }%>" min="0" 
                                   id="Stats_<%=stats_name[i]%>" onChange="byStats()"></TD>
                        <TD><div class="arrow">
                                <div><a onclick="click_arrow('Stats',<%= i%>, 1)">▲</a></div>
                                <div><a onclick="click_arrow('Stats',<%= i%>, -1)">▼</a></div>
                            </div></TD>
                        <TD><input class="no-spin" type="number" value="0" min="0" max="252" step="4" 
                                   id="EV_<%=stats_name[i]%>" onChange="reCalc()"></TD>
                        <TD><div class="arrow">
                                <div><a onclick="click_arrow('EV',<%= i%>, 4)">▲</a></div>
                                <div><a onclick="click_arrow('EV',<%= i%>, -4)">▼</a></div>
                            </div></TD>
                        <TD><button id="EV0_<%=stats_name[i]%>" onClick="setEV(0,<%= i%>)">0</button>
                            <button id="EV252_<%=stats_name[i]%>" onClick="setEV(252,<%= i%>)">252</button></TD>
                        <TD><input class="no-spin" type="number" value="100" min="0" 
                                   id="Basestats_<%=stats_name[i]%>" onChange="reCalc()"></TD>
                        <TD><div class="arrow">
                                <div><a onclick="click_arrow('Basestats',<%= i%>, 1)">▲</a></div>
                                <div><a onclick="click_arrow('Basestats',<%= i%>, -1)">▼</a></div>
                            </div></TD>
                        <TD><input class="no-spin" type="number" value="31" min="0" max="31" 
                                   id="IV_<%=stats_name[i]%>" onChange="reCalc()"></TD>
                        <TD><div class="arrow">
                                <div><a onclick="click_arrow('IV',<%= i%>, 1)">▲</a></div>
                                <div><a onclick="click_arrow('IV',<%= i%>, -1)">▼</a></div>
                            </div></TD>
                        <TD><button id="IV0_<%=stats_name[i]%>" onClick="setIV(0,<%= i%>)">0</button>
                            <button id="IV31_<%=stats_name[i]%>" onClick="setIV(31,<%= i%>)">31</button></TD>

                        <% if (i == 0) {%>
                        <TD class="nature_mark" style="color:#ef5350;">＋</TD>
                        <TD class="nature_mark" style="color:#1297ff;">－</TD>
                            <% } else {%>
                        <TD>
                            <input type="checkbox" name="inc" class="rd" value="0" style="accent-color:#ef5350;"
                                   id="Nature_<%=stats_name[i]%>_inc"
                                   onChange="set_Nature(0,<%=i%>)"></TD>
                        <TD>
                            <input type="checkbox" name="dec" class="rd" value="0" style="accent-color:#1297ff;"
                                   id="Nature_<%=stats_name[i]%>_dec"
                                   onChange="set_Nature(1,<%=i%>)"></TD>
                            <% }%>
                    </TR>
                    <% }%>
                    <TR>
                        <TD></TD>
                        <TD colspan="2">合計</TD>
                        <TD><input type="number" value="0" id="EV_total" readonly></TD>
                        <TD></TD>
                        <TD><button id="all_0" onClick="all_set(0)">ALL0</button></TD>
                        <TD><input type="number" value="600" id="Bs_total" readonly></TD>
                    </TR>
                </TABLE>
                <TABLE>
                    <TR>
                        <TH colspan="2"></TH><TH><div>ランク補正</div></TH><TH></TH>
                        <TH><div>麻痺</div></TH><TH><div>追い風</div></TH><TH><div>湿原</div></TH>
                    </TR>
                    <TR>
                        <TD>S</TD>
                        <TD>
                            <input id="real_Speed" value="120" readonly>
                        </TD>
                        <TD>
                            <select id="s_rank" onchange="real_speed()">
                                <% for (int i = 6; i > (-7); i--) {%>
                                <option id="s_rank_<%=i%>" value="<%=i%>" 
                                        <% if (i == 0) {%>selected="selected"<% }%>>
                                    <%if (i > 0) {%>+<% }%><%=i%></option>
                                    <% }%>
                            </select>
                        </TD>
                        <TD class="left">
                            <select class="select_search" id="s_skill" onchange="real_speed()">
                                <option id="s_skill_null" value="" selected>
                                    とくせい</option>
                                    <% for (int i = 0; i < 10; i++) {%>
                                <option id="s_skill_<%=i%>" value="<%=i%>">skill[<%=i%>][0]</option>
                                <% }%>
                            </select>
                        </TD>
                        <TD>
                            <input type="checkbox" id="Paralysis" onchange="real_speed()">
                        </TD>
                        <TD>
                            <input type="checkbox" id="Tailwind" onchange="real_speed()">
                        </TD>
                        <TD>
                            <input type="checkbox" id="Wetlands" onchange="real_speed()">
                        </TD>
                    </TR>
                    <TR>
                        <TD colspan="3"></TD>
                        <TD class="left">
                            <select class="select_search" id="s_item" onchange="real_speed()">
                                <option id="s_item_null" value="" selected>
                                    もちもの</option>
                                    <% for (int i = 0; i < 5; i++) {%>
                                <option id="s_item_<%=i%>" value="<%=i%>">item[<%=i%>][0]</option>
                                <% }%>
                            </select>
                        </TD>
                    </TR>
                </TABLE>
                <br>
                <textarea id="text" placeholder="コピペ"></textarea><br>
            </div>
            <div id="speedcheck">
                <DIV class="flex">
                    <div class="flex-col">
                        <h3>S比較</h3><br>
                        <div>
                            <select id="pokename2" class="select_search" onchange="setPoke2_speed('max')">
                                <option value="" disabled selected style="display:none;">ポケモン名</option>
                                <% for (int i = 0; i < 418; i++) {%>
                                <option id="pokename2_<%=i%>" value="<%=i%>">pokemon[<%=i%>][0]</option>
                                <% }%>
                            </select>
                        </div>
                    </div>
                    <div class="img">
                        <img id="poke2_icon" src="img/pokes-icon/poke_589.png" 
                             height="36px" onClick="nextIMG2()" />
                    </div>
                </DIV>
                <TABLE>
                    <TR>
                        <TD>
                            素早さ
                        </TD>
                        <TD>
                            <input type="number" id="poke2_speed" readonly>
                        </TD>
                        <TD>
                            <button class="pokes_S" id="poke2_sMax" onclick="setPoke2_speed('max')">最速</button>
                            <button class="pokes_S" id="poke2_sHig" onclick="setPoke2_speed('high')">準速</button>
                            <button class="pokes_S" id="poke2_sNor" onclick="setPoke2_speed('normal')">無振</button>
                            <button class="pokes_S" id="poke2_sLow" onclick="setPoke2_speed('low')">下降</button>
                            <button class="pokes_S" id="poke2_sMin" onclick="setPoke2_speed('min')">最遅</button>
                        </TD>
                    </TR>
                </TABLE>

                <TABLE>
                    <TR>
                        <TH colspan="2"></TH><TH><div>ランク補正</div></TH><TH></TH>
                        <TH><div>麻痺</div></TH><TH><div>追い風</div></TH><TH><div>湿原</div></TH>
                    </TR>
                    <TR>
                        <TD>S</TD>
                        <TD>
                            <input id="real_Speed2" value="" readonly>
                        </TD>
                        <TD>
                            <select id="s_rank2" onchange="real_speed2()">
                                <% for (int i = 6; i > (-7); i--) {%>
                                <option id="s_rank2_<%=i%>" value="<%=i%>" 
                                        <% if (i == 0) {%>selected="selected"<% }%>>
                                    <%if (i > 0) {%>+<% }%><%=i%></option>
                                    <% }%>
                            </select>
                        </TD>
                        <TD class="left">
                            <select class="select_search" id="s_skill2" onchange="real_speed2()">
                                <option id="s_skill2_null" value="" selected>
                                    とくせい</option>
                                    <% for (int i = 0; i < 10; i++) {%>
                                <option id="s_skill2_<%=i%>" value="<%=i%>">skill[<%=i%>][0]</option>
                                <% }%>
                            </select>
                        </TD>
                        <TD>
                            <input type="checkbox" id="Paralysis2" onchange="real_speed2()">
                        </TD>
                        <TD>
                            <input type="checkbox" id="Tailwind2" onchange="real_speed2()">
                        </TD>
                        <TD>
                            <input type="checkbox" id="Wetlands2" onchange="real_speed2()">
                        </TD>
                    </TR>
                    <TR>
                        <TD colspan="3"></TD>
                        <TD class="left">
                            <select class="select_search" id="s_item2" onchange="real_speed2()">
                                <option id="s_item2_null" value="" selected>
                                    もちもの</option>
                                    <% for (int i = 0; i < 5; i++) {%>
                                <option id="s_item2_<%=i%>" value="<%=i%>">item[<%=i%>][0]</option>
                                <% }%>
                            </select>
                        </TD>
                    </TR>
                </TABLE>
                <button id="sc_add" onclick="SC_list_add()">S比較をメモとして追加</button>
                <div id="speedcomparison_box"><ul id="speedcomparison_list"></ul></div>
            </div>
            <DIV>
                <div id="main_info">
                    <a id="info_button" class="word_button" onclick="info_display()">
                        <h2 id="info_title">#このサイトについて ▲</h2>
                    </a>
                    <div id="info" style="display:block;">
                        ポケモンの実数値を計算するサイトです。<br>
                        「#~▼」、「#~▲」はクリックすることで表示を切り替えることができます。<br>
                        <br>
                        ポケモン名は「かな/カナ」関わらず行えます。<br>
                        入力されたポケモンの概要をタイトルとして表示します。<br>
                        ポケモンのアイコンをクリックすることで姿を変えることができます。<br>
                        <br>
                        「252」ボタンで努力値を設定する場合に最大値を超えてしまったり、<br>
                        無駄な努力値になってしまう事を自動で判断し計算します。<br>
                        <br>
                        S比較によって計算した素早さを「S比較をメモとして追加」で保存することができます。<br>
                        メモをクリックすることで「消去ボタン」を出すことができます。<br>
                        実数値計算をしているポケモンを変更するとS比較メモはリセットされてしまいます。<br>
                        <br>
                        特性「はやあし」によって麻痺での1/2が無視されます。<br>
                        特性「かるわざ」は実機と同様、持ち物を持っていない時のみ発動します。<br>
                        持ち物「スピードパウダー」は「メタモン」のみに効果があります。<br>
                    </div>
                </div>

                <div id="main_hp">
                    <a id="hpTheory_button" class="word_button" onclick="hpTable_display()">
                        <h2 id="hpTheory_title">#HP調整表 ▼</h2>
                    </a>
                    <TABLE id="hpTheory">
                        <TR>
                            <TH class="hpTheory1">過不足</TH>
                            <TH class="hpTheory2">調整</TH>
                            <TH class="hpTheory3">内容</TH>
                        </TR>
                        <% for (int i = 1; i < 18; i++) {%>
                        <TR>
                            <TD class="hpTheory1" id="hpTheory_<%=i%>">null</TD>
                            <TD class="hpTheory2" id="hpTheoryName_<%=i%>"></TD>
                            <TD class="hpTheory3, left" id="hpTheoryInfo_<%=i%>"></TD>
                        </TR>
                        <% }%>
                    </TABLE>
                </div>
            </DIV>

            <div class="spacer"></div>
            <div>
                Thx to <a href="https://github.com/select2/select2" target="_blank">select2</a>, 
                <a href="https://tobiasahlin.com/spinkit/" target="_blank">spinkit</a><br>
                Made by <a href="https://twitter.com/nomakun_des" target="_blank">@nomakun_des</a><br>
                v3.02.0 <a href="update.html" target="_blank">Update Details</a>
            </div>
        </DIV>

        <div id="loader">
            <div class="sk-chase">
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
            </div>
        </div>

        <script src="https://github.com/niwaringo/moji/releases/download/V1.2.0/moji.js"></script>
    </body>
</html>
