:root{
    --main-bg: #fff;
    --main-text: #333;
    --shadow: rgba(51, 51, 51, 0.1);
    --title-text: #000;
    --anchor-text: #666;
    --anchor-back: #69c;
    --anchor-on: #fff;

    --input-border: #555;
    --button-bg: #f0f0f0;
    --button-hover: #ddd;
    --button-active: #f0f0f0;
    --button-active-border: #888;

    --table-head: #ccc;
    --border-in: #888;
    --border-out: #333;

    --scroll-main: #C1C1C1;
    --scroll-back: #F1F1F1;
    --scroll-shadow: #333;

    --selected-bg: #ddd;

    --checkbox-checked: #555;

    --js-speed-selected: #000;   /*js color*/
    --js-speed-none: #888;
    --js-err-no-text: #f33;
    --js-err-no-bg: #fdd;
    --js-hptheory-bg: #ffe3e3;
    --js-x-color: #bbb;
    --js-waste-no-text:#EFB50E;

    --pk-high-color: #ef5350;
    --pk-low-color: #03a9f4;
}
@media (prefers-color-scheme: dark) {
    :root {
        --main-bg: #222;
        --main-text: #ddd;
        --shadow: rgba(221, 221, 221, 0.1);
        --title-text: #fff;
        --anchor-text: #bbb;

        --input-border: #444;
        --button-bg: #333;
        --button-hover: #555;
        --button-active: #333;
        --button-active-border: #666;

        --table-head: #444;
        --border-in: #333;
        --border-out: #888;

        --scroll-main: #686868;
        --scroll-back: #424242;
        --scroll-shadow: #333;

        --selected-bg:#444;

        --checkbox-checked: #888;

        --js-speed-selected: #fff;   /*js color*/
        --js-err-no-text: #800;
        --js-err-no-bg: #300;
        --js-hptheory-bg: #633;
        --js-x-color: #555;
    }
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: var(--scroll-back);
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 0 1px var(--scroll-shadow);
}
::-webkit-scrollbar-thumb{
    background: var(--scroll-main);
    border-radius: 10px;
    box-shadow: none;
}

html{
    background: var(--main-bg);
    -webkit-text-size-adjust: 100%;
    color: var(--main-text);
    font-family: "Arial", "メイリオ";
}
button{
    font-family: "Arial", "メイリオ";
    font-weight: bold;
}
textarea{
    font-family: "Arial", "メイリオ";
    font-weight: bold;
}

a:not(.sc_list) {
    color: var(--anchor-text);
    border-bottom: 1px dashed var(--anchor-text);
    text-decoration: none;
}
a:hover:not(.sc_list){
    background-color: var(--anchor-back);
    color: var(--anchor-on);
    border-bottom:1px dashed var(--anchor-on);
}
h1{
    color: var(--title-text);
}
h2{
    color: var(--title-text);
    margin: 10px 0px;
    font-size: 15px;
    min-width: 500px;
}
h3{
    color: var(--title-text);
    margin: 0px;
    font-size: 15px;
}
.word_button{
    user-select: none;
}

div#main{
    display: flex;
    flex-wrap: wrap;
}
div#main > div{
    padding: 0 10px 10px;
}
div.arrow{
    position:relative;
    left: -2px;
    font-size: 5px;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
}
div.arrow a{
    user-select: none;
    border-bottom: 0;
    text-decoration: none;
}
div.arrow a:hover{
    border-bottom: 0;
    text-decoration: none;
}
.spacer{
    width: 100%;
}
#hpTheory{
    font-size: 10px;
    display: none;
    margin: 0px 10px;
    border-spacing: 1px;
    border: solid 1px var(--border-out);
}
#hpTheory th, #hpTheory td{
    border: solid 1px var(--border-in);
}
#hpTheory th{
    background-color: var(--table-head);
}
.hpTheory1{
    width: 45px;
}
.hpTheory2{
}
.hpTheory3{
    width: 265px;
}
#info{
    font-size: 12px;
    display: none;
    padding: 0px 10px;
}

ul#speedcomparison_list{
    padding: 0 0 0 30px;
}

input{
    width: 40px;
}
input.rd{
    width: 15px;
}
button{
    width: 35px;
}
button.pokes_S{
    width: 50px;
}
button#all_0{
    width: 50px;
}
button#auto_HBD{
    width: 80px;
}
button#ratio_reset{
    width: 70px;
}
button#set_bytxt{
    width: 120px;
}
button#sc_add{
    width: 160px;
}
pre{
    margin: 5px 0;
    font-family: "Arial", "メイリオ";
}
div#speedcomparison_box {
    margin: 10px 0;
    max-height: 240px;
    overflow: auto;
}

td{
    text-align: center;
    vertical-align: middle;
}
td.left{
    text-align: left;
}

textarea{
    background: var(--main-bg);
    color: var(--main-text);
    min-height: 50px;
    min-width: 280px;
    height: 140px;
    width: 365px;
    max-height: 140px;
    max-width: 365px;
    border: 1px solid var(--input-border);
    border-radius: 2px;
}
.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button,
#EV_total::-webkit-inner-spin-button,
#EV_total::-webkit-outer-spin-button,
#Bs_total::-webkit-inner-spin-button,
#Bs_total::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.no-spin, #EV_total, #Bs_total{
    width: 25px;
    -moz-appearance:textfield;
}
#real_Speed{
    width: 35px;
}
#poke2_speed{
    -moz-appearance:textfield;
}
.no-spin{
    text-align: right;
}

th div{
    position:relative;
    top: 6px;
    font-size: 10px;
}

.nature_mark{
    font-weight: bold;
    font-size: 12px;
}

.flex{
    display: flex;
    align-items:flex-end;
    flex-wrap: wrap;
}
.flex-col{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
}
.img{
    margin: 0 0 0 20px;
}
.img img, .type img{
    filter: drop-shadow(0 0 10px var(--shadow));
}
.type{
    margin: 0 5px;
}

input, select, button{
    color: var(--main-text);
    background: var(--main-bg);
    border: 1px solid var(--input-border);
    border-radius: 2px;
}
button{
    background: var(--button-bg);
}
button:hover{
    background: var(--button-hover);
}
button:active{
    background: var(--button-active);
    border: 1px solid var(--button-active-border);
}
span.sc_delete{
    user-select: none;
    font-size: 5px;
}
.sc_list{
}

#IV0_H,#IV31_H,#x_H,
#IV0_A,#IV31_A,#x_A,
#IV0_B,#IV31_B,#x_B,
#IV0_C,#IV31_C,#x_C,
#IV0_D,#IV31_D,#x_D,
#IV0_S,#IV31_S,#x_S {
    width: 25px;
}

input#Nature_A_inc,
input#Nature_B_inc,
input#Nature_C_inc,
input#Nature_D_inc,
input#Nature_S_inc,
input#Nature_A_dec,
input#Nature_B_dec,
input#Nature_C_dec,
input#Nature_D_dec,
input#Nature_S_dec,

input#Paralysis,
input#Paralysis2,
input#Tailwind,
input#Tailwind2,
input#Wetlands,
input#Wetlands2{
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input#Nature_A_inc,
input#Nature_B_inc,
input#Nature_C_inc,
input#Nature_D_inc,
input#Nature_S_inc,
input#Nature_A_dec,
input#Nature_B_dec,
input#Nature_C_dec,
input#Nature_D_dec,
input#Nature_S_dec,

input#Paralysis,
input#Paralysis2,
input#Tailwind,
input#Tailwind2,
input#Wetlands,
input#Wetlands2 {
    cursor: pointer;
    vertical-align: middle;
    position: relative;
}
input#Nature_A_inc::before,
input#Nature_A_inc::after,
input#Nature_B_inc::before,
input#Nature_B_inc::after,
input#Nature_C_inc::before,
input#Nature_C_inc::after,
input#Nature_D_inc::before,
input#Nature_D_inc::after,
input#Nature_S_inc::before,
input#Nature_S_inc::after,
input#Nature_A_dec::before,
input#Nature_A_dec::after,
input#Nature_B_dec::before,
input#Nature_B_dec::after,
input#Nature_C_dec::before,
input#Nature_C_dec::after,
input#Nature_D_dec::before,
input#Nature_D_dec::after,
input#Nature_S_dec::before,
input#Nature_S_dec::after,

input#Paralysis::before,
input#Paralysis::after,
input#Paralysis2::before,
input#Paralysis2::after,
input#Tailwind::before,
input#Tailwind::after,
input#Tailwind2::before,
input#Tailwind2::after,
input#Wetlands::before,
input#Wetlands::after,
input#Wetlands2::before,
input#Wetlands2::after {
    content: "";
    display: inline-block;
    position: absolute;
}
input#Nature_A_inc::before,
input#Nature_B_inc::before,
input#Nature_C_inc::before,
input#Nature_D_inc::before,
input#Nature_S_inc::before,
input#Nature_A_dec::before,
input#Nature_B_dec::before,
input#Nature_C_dec::before,
input#Nature_D_dec::before,
input#Nature_S_dec::before,

input#Paralysis::before,
input#Paralysis2::before,
input#Tailwind::before,
input#Tailwind2::before,
input#Wetlands::before,
input#Wetlands2::before {/*box*/
    background-color: var(--main-bg);
    border-radius: 20%;
    border: 1px solid var(--input-border);
    width: 10px;
    height: 10px;
    transform: translateY(-50%);
    top: -1px;
    left: calc(50% - 5px);
}
input#Nature_A_inc::after,
input#Nature_B_inc::after,
input#Nature_C_inc::after,
input#Nature_D_inc::after,
input#Nature_S_inc::after,
input#Nature_A_dec::after,
input#Nature_B_dec::after,
input#Nature_C_dec::after,
input#Nature_D_dec::after,
input#Nature_S_dec::after,

input#Paralysis::after,
input#Paralysis2::after,
input#Tailwind::after,
input#Tailwind2::after,
input#Wetlands::after,
input#Wetlands2::after {/*check*/
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    opacity: 0;
    height: 3px;
    width: 5px;
    transform: rotate(-45deg);
    top: -5px;
    left: calc(50% - 3.5px);
}
input#Nature_A_inc:checked::before,
input#Nature_B_inc:checked::before,
input#Nature_C_inc:checked::before,
input#Nature_D_inc:checked::before,
input#Nature_S_inc:checked::before {
    background-color: var(--pk-high-color);
}
input#Nature_A_dec:checked::before,
input#Nature_B_dec:checked::before,
input#Nature_C_dec:checked::before,
input#Nature_D_dec:checked::before,
input#Nature_S_dec:checked::before {
    background-color: var(--pk-low-color);
}
input#Paralysis:checked::before,
input#Paralysis2:checked::before{
    background-color: var(--checkbox-checked);
}
input#Tailwind:checked::before,
input#Tailwind2:checked::before{
    background-color: var(--checkbox-checked);
}
input#Wetlands:checked::before,
input#Wetlands2:checked::before{
    background-color: var(--checkbox-checked);
}
input#Nature_A_inc:checked::after,
input#Nature_B_inc:checked::after,
input#Nature_C_inc:checked::after,
input#Nature_D_inc:checked::after,
input#Nature_S_inc:checked::after,
input#Nature_A_dec:checked::after,
input#Nature_B_dec:checked::after,
input#Nature_C_dec:checked::after,
input#Nature_D_dec:checked::after,
input#Nature_S_dec:checked::after,

input#Paralysis:checked::after,
input#Paralysis2:checked::after,
input#Tailwind:checked::after,
input#Tailwind2:checked::after,
input#Wetlands:checked::after,
input#Wetlands2:checked::after {
    opacity: 1;
}

/* カーソルを重ねる要素 */
.tooltip {
  position: relative; /* ツールチップの位置の基準に */
  cursor: pointer; /* カーソルを当てたときにポインターに */
}

/* ツールチップのテキスト */
.tooltip-text {
  opacity: 0; /* はじめは隠しておく */
  z-index: 50;
  visibility: hidden; /* はじめは隠しておく */
  position: absolute; /* 絶対配置 */
  left: 50%; /* 親に対して中央配置 */
  transform: translateX(-50%); /* 親に対して中央配置 */
  bottom: -30px; /* 親要素下からの位置 */
  display: inline-block;
  padding: 5px; /* 余白 */
  white-space: nowrap; /* テキストを折り返さない */
  font-size: 0.8rem; /* フォントサイズ */
  line-height: 1.3; /* 行間 */
  background: var(--main-text); /* 背景色 */
  color: var(--main-bg); /* 文字色 */
  border-radius: 3px; /* 角丸 */
  transition: 0.3s ease-in; /* アニメーション */
}

/* ホバー時にツールチップの非表示を解除 */
.tooltip:hover .tooltip-text {
  opacity: 1;
  visibility: visible;
  z-index: 50;
}

#poke1_form, #poke2_form{
    font-size: 8px;
}

.range_lbl{
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  width: 50px;
  border-radius: 8px;
  height: 4px;
}
/* google */
input[type="range"]::-webkit-slider-runnable-track {
  background: var(--button-bg);
  height: 4px;
  border-radius: 8px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  width: 3px;
  margin-top: -3px;
  background-color: var(--main-text);
}
/* Firefox */
input[type="range"]::-moz-range-track {
  background: var(--button-bg);
  height: 4px;
  border-radius: 8px;
}
input[type="range"]::-moz-range-thumb {
  border: none;
  height: 10px;
  width: 3px;
  background-color: var(--main-text);
}

#set_bt_rst{
    font-size: 10px;
    padding-left: 12px;
}
