:root{
    --main-bg: #fff;
    --main-text: #333;
    --shadow: rgba(51, 51, 51, 0.1);
    --title-text: #000;
    --anchor-text: #666;
    --anchor-back: #69c;
    --anchor-on: #fff;

    --input-border: #555;
    --button-bg: #f0f0f0;
    --button-hover: #ddd;
    --button-active: #f0f0f0;
    --button-active-border: #888;

    --table-head: #ccc;
    --border-in: #888;
    --border-out: #333;

    --scroll-main: #C1C1C1;
    --scroll-back: #F1F1F1;
    --scroll-shadow: #333;

    --selected-bg: #ddd;

    --js-speed-selected: #000;   /*js color*/
    --js-speed-none: #888;
    --js-err-no-text: #f33;
    --js-err-no-bg: #fdd;
    --js-hptheory-bg: #ffe3e3;
}
@media (prefers-color-scheme: dark) {
    :root {
        --main-bg: #222;
        --main-text: #ddd;
        --shadow: rgba(221, 221, 221, 0.1);
        --title-text: #fff;
        --anchor-text: #bbb;

        --input-border: #444;
        --button-bg: #333;
        --button-hover: #555;
        --button-active: #333;
        --button-active-border: #666;

        --table-head: #444;
        --border-in: #333;
        --border-out: #888;

        --scroll-main: #686868;
        --scroll-back: #424242;
        --scroll-shadow: #333;

        --selected-bg:#444;

        --js-speed-selected: #fff;   /*js color*/
        --js-err-no-text: #800;
        --js-err-no-bg: #300;
        --js-hptheory-bg: #633;
    }
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: var(--scroll-back);
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 0 1px var(--scroll-shadow);
}
::-webkit-scrollbar-thumb{
    background: var(--scroll-main);
    border-radius: 10px;
    box-shadow: none;
}

html{
    background: var(--main-bg);
    -webkit-text-size-adjust: 100%;
    color: var(--main-text);
    font-family: "Arial", "メイリオ";
}
button{
    font-family: "Arial", "メイリオ";
    font-weight: bold;
}
textarea{
    font-family: "Arial", "メイリオ";
    font-weight: bold;
}

a:not(.sc_list) {
    color: var(--anchor-text);
    border-bottom: 1px dashed var(--anchor-text);
    text-decoration: none;
}
a:hover:not(.sc_list){
    background-color: var(--anchor-back);
    color: var(--anchor-on);
    border-bottom:1px dashed var(--anchor-on);
}
h1{
    color: var(--title-text);
}
h2{
    color: var(--title-text);
    margin: 10px 0px;
    font-size: 15px;
}
h3{
    color: var(--title-text);
    margin: 0px;
    font-size: 15px;
}
.word_button{
    user-select: none;
}

div#main{
    display: flex;
    flex-wrap: wrap;
}
div#main > div{
    padding: 0 10px 10px;
}
div.arrow{
    position:relative;
    left: -2px;
    font-size: 5px;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
}
div.arrow a{
    user-select: none;
    border-bottom: 0;
    text-decoration: none;
}
div.arrow a:hover{
    border-bottom: 0;
    text-decoration: none;
}
.spacer{
    width: 100%;
}
#hpTheory{
    font-size: 10px;
    display: none;
    margin: 0px 10px;
    border-spacing: 1px;
    border: solid 1px var(--border-out);
}
#hpTheory th, #hpTheory td{
    border: solid 1px var(--border-in);
}
#hpTheory th{
    background-color: var(--table-head);
}
.hpTheory1{
    width: 45px;
}
.hpTheory2{
}
.hpTheory3{
    width: 265px;
}
#info{
    font-size: 12px;
    display: none;
    padding: 0px 10px;
}

ul#speedcomparison_list{
    padding: 0 0 0 30px;
}

input{
    width: 40px;
}
input.rd{
    width: 15px;
}
button{
    width: 35px;
}
button.pokes_S{
    width: 50px;
}
button#all_0{
    width: 50px;
}
button#sc_add{
    width: 160px;
}
pre{
    margin: 5px 0;
    font-family: "Arial", "メイリオ";
}
div#speedcomparison_box {
    margin: 10px 0;
    height: 240px;
    overflow: auto;
}

td{
    text-align: center;
    vertical-align: middle;
}
td.left{
    text-align: left;
}

textarea{
    background: var(--main-bg);
    color: var(--main-text);
    min-height: 50px;
    min-width: 280px;
    height: 140px;
    width: 365px;
    max-height: 140px;
    max-width: 365px;
    border: 1px solid var(--input-border);
    border-radius: 2px;
}
.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button,
#EV_total::-webkit-inner-spin-button,
#EV_total::-webkit-outer-spin-button,
#Bs_total::-webkit-inner-spin-button,
#Bs_total::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.no-spin, #EV_total, #Bs_total{
    width: 25px;
    -moz-appearance:textfield;
}
#real_Speed{
    width: 35px;
}
#poke2_speed{
    -moz-appearance:textfield;
}
.no-spin{
    text-align: right;
}

th div{
    position:relative;
    top: 6px;
    font-size: 10px;
}

.nature_mark{
    font-weight: bold;
    font-size: 12px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}
.flex-col{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
}
.img{
    margin: 0 0 0 20px;
}
.img img, .type img{
    filter: drop-shadow(0 0 10px var(--shadow));
}
.type{
    margin: 0 5px;
}

input, select, button{
    color: var(--main-text);
    background: var(--main-bg);
    border: 1px solid var(--input-border);
    border-radius: 2px;
}
button{
    background: var(--button-bg);
}
button:hover{
    background: var(--button-hover);
}
button:active{
    background: var(--button-active);
    border: 1px solid var(--button-active-border);
}
span.sc_delete{
    user-select: none;
    font-size: 5px;
}
.sc_list{
}
